:root{
    /*Color*/
    --yellowColor: hsl(47, 88%, 63%);
    --whiteColor: hsl(0, 0%, 100%);
    --greyColor: hsl(0, 0%, 50%);
    --blackColor: hsl(0, 0%, 7%);

    /*Fonts*/
    --primaryFont: 'Figtree', sans-serif;
}


.colaborador {
    position: relative;
    width: 280px;
}


.card{
    width: 390px;
    background: var(--whiteColor);
    border: 2px groove var(--greyColor);
    border-radius: 18px;
    box-shadow: 10px 10px var(--blackColor);
    position: relative;
    padding-top: 1rem;
}

.card-image img  {
    border-radius: 10px;
}

.card-body h4{
    background: var(--yellowColor);
    padding: 7px 10px;
    color: var(--blackColor);
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}

.card-body p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}
.colaborador img {
    width: 50px;
    border-radius: 50%;
    position: relative;
    
}



.rodape {
    display: inline-flex;
    justify-content: start;
}

.deletar {
    position: absolute;
    right: -10px;
    top: -10px;
}

.favorito {
    margin-top: 20px;
}