@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,600;0,800;1,600;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  text-align: center;
}

.times {
  text-align: center;
}

h1 {
  font-size: 40px;
  color:hsl(0, 0%, 50%);
  border-bottom: 4px solid #6278F7;
  display: inline-block;
  padding-bottom: 24px;
  margin: 32px 0;  
}
